<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.ration.home.title">Rations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ration" [routerLink]="['/ration/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.ration.home.createLabel">
            Create a new Ration
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="rations?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.ration.home.notFound">No rations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="rations && rations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhipsterSampleApplicationApp.ration.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="weight"><span jhiTranslate="jhipsterSampleApplicationApp.ration.weight">Weight</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="jhipsterSampleApplicationApp.ration.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="jhipsterSampleApplicationApp.ration.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let ration of rations ;trackBy: trackId">
                    <td><a [routerLink]="['/ration', ration.id, 'view']">{{ ration.id }}</a></td>
                    <td>{{ ration.name }}</td>
                    <td>{{ ration.weight }}</td>
                    <td>{{ ration.price }}</td>
                    <td>
                        <a *ngIf="ration.image" (click)="openFile(ration.imageContentType, ration.image)">
                            <img [src]="'data:' + ration.imageContentType + ';base64,' + ration.image" style="max-height: 30px;" alt="ration image"/>
                        </a>
                        <span *ngIf="ration.image">{{ ration.imageContentType }}, {{ byteSize(ration.image) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ration', ration.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ration', ration.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ration)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
